<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.nokia.Nokia5220XpressMusic</key>
	<dict>
		<key>Identification</key>
		<dict>
			<key>com.apple.gmi+gmm</key>
			<string>Nokia+Nokia 5220 XpressMusic</string>
			<key>com.apple.usb.vendorid-modelid</key>
			<string>0x421/0x6b</string>
		</dict>
		<key>InheritsFrom</key>
		<array>
			<string>family.com.nokia.Nokia5220XpressMusic</string>
		</array>
		<key>Services</key>
		<array>
			<dict>
				<key>ServiceName</key>
				<string>com.apple.model</string>
				<key>ServiceProperties</key>
				<dict>
					<key>CompanyName</key>
					<string>Nokia</string>
					<key>ModelIcon</key>
					<string>com.nokia.Nokia5220XpressMusic.tiff</string>
					<key>ModelName</key>
					<string>Nokia 5220 XpressMusic</string>
				</dict>
			</dict>
		</array>
	</dict>
	<key>family.com.nokia.Nokia5220XpressMusic</key>
	<dict>
		<key>InheritsFrom</key>
		<array>
			<string>family.com.apple.external.all-phones.usb-bt</string>
		</array>
		<key>Services</key>
		<array>
			<dict>
				<key>ServiceClass</key>
				<string>IPHSyncMLSyncTransportServiceObexClient</string>
				<key>ServiceName</key>
				<string>com.apple.synchro</string>
				<key>ServiceProperties</key>
				<dict>
					<key>BTProtocolService</key>
					<string>com.nokia.6131.protocol.bt.obex.syncml</string>
					<key>DontSyncEventsAfterDateIsEnabled.default-value</key>
					<true/>
					<key>DontSyncEventsAfterDateIsEnabled.visible</key>
					<true/>
					<key>DontSyncEventsAfterDateValue.default-value</key>
					<string>1month</string>
					<key>DontSyncEventsAfterDateValue.visible</key>
					<true/>
					<key>DontSyncEventsPriorToDateIsEnabled.default-value</key>
					<true/>
					<key>DontSyncEventsPriorToDateIsEnabled.visible</key>
					<false/>
					<key>DontSyncEventsPriorToDateValue.default-value</key>
					<string>1week</string>
					<key>DontSyncEventsPriorToDateValue.visible</key>
					<true/>
					<key>IPHEnginePlist</key>
					<string>SyncEngine.plist</string>
					<key>OnlySyncContactsWithPhoneNumber.default-value</key>
					<false/>
					<key>OnlySyncContactsWithPhoneNumber.visible</key>
					<true/>
					<key>SyncAllDayEventsKey.default-value</key>
					<true/>
					<key>SyncAllDayEventsKey.visible</key>
					<false/>
					<key>SyncDataClasses</key>
					<array>
						<string>com.apple.pimsync.contacts</string>
						<string>com.apple.pimsync.calendars</string>
					</array>
					<key>SyncMLBusySignalingInterval</key>
					<integer>60</integer>
					<key>SyncMLBusySignalingSupport</key>
					<false/>
					<key>SyncMLCodec</key>
					<string>SyncMLCodecLibWBXML</string>
					<key>SyncMLLargeObjectSupport</key>
					<true/>
					<key>SyncMLLocalSource</key>
					<string>iSync</string>
					<key>SyncMLNumberOfChangesSupport</key>
					<true/>
					<key>SyncMLOnlyOneBusySignaling</key>
					<false/>
					<key>SyncMLRefreshFromServerSupport</key>
					<false/>
					<key>SyncMLRemoteNeedsRelativePaths</key>
					<false/>
					<key>SyncMLSimulateBusySignalingWithEmptySync</key>
					<false/>
					<key>SyncMLVersion</key>
					<string>SyncML11</string>
					<key>SyncProperties2</key>
					<string>PhoneConduit.plist</string>
					<key>USBProtocolService</key>
					<string>com.nokia.6131.protocol.usb.obex.syncml</string>
				</dict>
			</dict>
			<dict>
				<key>ServiceClass</key>
				<string>IPHObexService</string>
				<key>ServiceName</key>
				<string>com.nokia.6131.protocol.usb.obex.syncml</string>
				<key>ServiceProperties</key>
				<dict>
					<key>ObexTargetUUID</key>
					<string>53 59 4e 43 4d 4c 2d 53 59 4e 43</string>
					<key>ObexTimeOut</key>
					<integer>60</integer>
					<key>TransportService</key>
					<string>com.nokia.6131.transport.usb.syncml</string>
				</dict>
			</dict>
			<dict>
				<key>ServiceClass</key>
				<string>IPHObexService</string>
				<key>ServiceName</key>
				<string>com.nokia.6131.protocol.bt.obex.syncml</string>
				<key>ServiceProperties</key>
				<dict>
					<key>ObexTargetUUID</key>
					<string>53 59 4e 43 4d 4c 2d 53 59 4e 43</string>
					<key>ObexTimeOut</key>
					<integer>60</integer>
					<key>TransportService</key>
					<string>com.nokia.6131.transport.rfcomm.syncml</string>
				</dict>
			</dict>
			<dict>
				<key>ServiceClass</key>
				<string>IPHSerialATService</string>
				<key>ServiceName</key>
				<string>com.apple.protocol.usb.AT</string>
				<key>ServiceProperties</key>
				<dict/>
			</dict>
			<dict>
				<key>ServiceClass</key>
				<string>IPHRFCOMMChannelService</string>
				<key>ServiceName</key>
				<string>com.nokia.6131.transport.rfcomm.syncml</string>
				<key>ServiceProperties</key>
				<dict>
					<key>RFCOMMChannelUUID</key>
					<string>000000020000100080000002ee000002</string>
				</dict>
			</dict>
			<dict>
				<key>ServiceClass</key>
				<string>IPHUSBCDCChannelService</string>
				<key>ServiceName</key>
				<string>com.apple.transport.usb.modem</string>
				<key>ServiceProperties</key>
				<dict/>
			</dict>
			<dict>
				<key>ServiceClass</key>
				<string>IPHUSBObexChannelService</string>
				<key>ServiceName</key>
				<string>com.nokia.6131.transport.usb.syncml</string>
				<key>ServiceProperties</key>
				<dict/>
			</dict>
			<dict>
				<key>ServiceClass</key>
				<string>IPHSyncParserService</string>
				<key>ServiceName</key>
				<string>com.apple.pimsync.parser.vCal</string>
				<key>ServiceProperties</key>
				<dict>
					<key>AllDayCategories</key>
					<array>
						<string>MISCELLANEOUS</string>
						<string>SPECIAL OCCASION</string>
						<string>REMINDER</string>
					</array>
					<key>AllDayEventFormat</key>
					<string>AllDayEventCategories</string>
					<key>Charset</key>
					<string>UTF-8</string>
					<key>Encoding</key>
					<string>QUOTED-PRINTABLE</string>
					<key>EscapeBackslash</key>
					<true/>
					<key>FoldingStyle</key>
					<string>FoldingNG</string>
					<key>IgnoreProperties</key>
					<array>
						<string>X-IRMC-LUID</string>
					</array>
					<key>ParserType</key>
					<string>vCal</string>
					<key>TimedCategories</key>
					<array>
						<string>MEETING</string>
						<string>PHONE CALL</string>
					</array>
					<key>vCalRecDailyInterval</key>
					<array>
						<integer>1</integer>
					</array>
					<key>vCalRecMonthlyByDayWithMonthDay</key>
					<false/>
					<key>vCalRecMonthlyByPos</key>
					<false/>
					<key>vCalRecMonthlyInterval</key>
					<array>
						<integer>1</integer>
					</array>
					<key>vCalRecWeeklyInterval</key>
					<array>
						<integer>1</integer>
						<integer>2</integer>
					</array>
					<key>vCalRecWeeklyWithWeekDay</key>
					<false/>
					<key>vCalRecYearlyByMonthInterval</key>
					<array>
						<integer>1</integer>
					</array>
					<key>vCalRecYearlyByMonthWithMonthNumber</key>
					<false/>
				</dict>
			</dict>
			<dict>
				<key>ServiceClass</key>
				<string>IPHSyncParserService</string>
				<key>ServiceName</key>
				<string>com.apple.pimsync.parser.vCard</string>
				<key>ServiceProperties</key>
				<dict>
					<key>Charset</key>
					<string>UTF-8</string>
					<key>Encoding</key>
					<string>QUOTED-PRINTABLE</string>
					<key>EscapeBackslash</key>
					<true/>
					<key>FoldingStyle</key>
					<string>FoldingNG</string>
					<key>IgnoreProperties</key>
					<array>
						<string>X-IRMC-LUID</string>
					</array>
					<key>IgnoreSubTypesForThisMainTypes</key>
					<array>
						<string>CELL</string>
					</array>
					<key>ParserType</key>
					<string>vCard</string>
				</dict>
			</dict>
			<dict>
				<key>ServiceClass</key>
				<string>IPHSyncDataClassService</string>
				<key>ServiceName</key>
				<string>com.apple.pimsync.contacts</string>
				<key>ServiceProperties</key>
				<dict>
					<key>DataClassName</key>
					<string>Contacts</string>
					<key>MimeType</key>
					<string>text/x-vcard</string>
					<key>ParserService</key>
					<string>com.apple.pimsync.parser.vCard</string>
					<key>RemoteName</key>
					<string></string>
					<key>needsCompanyNameInFirstName</key>
					<true/>
					<key>needsFullAddressInStreetField</key>
					<false/>
					<key>nokiaSeries40ContactMaxDetails</key>
					<integer>5</integer>
				</dict>
			</dict>
			<dict>
				<key>ServiceClass</key>
				<string>IPHSyncDataClassService</string>
				<key>ServiceName</key>
				<string>com.apple.pimsync.calendars</string>
				<key>ServiceProperties</key>
				<dict>
					<key>DataClassName</key>
					<string>Calendars</string>
					<key>MimeType</key>
					<string>text/x-vcalendar</string>
					<key>ParserService</key>
					<string>com.apple.pimsync.parser.vCal</string>
					<key>RemoteName</key>
					<string></string>
					<key>allDayHaveNoLocation</key>
					<true/>
					<key>defaultDueDateWhenMissing</key>
					<string>2020-01-01 00:00:00 +0000</string>
					<key>doNotSyncAlarmIfAfterStartDateTime</key>
					<true/>
					<key>dontSyncEventBeforeDate</key>
					<string>1980-01-01 23:59:59 +0000</string>
					<key>dueDateIsDateOnly</key>
					<false/>
					<key>exDatesAreDateOnly</key>
					<false/>
					<key>handleAllDayRecurrent</key>
					<true/>
					<key>hasAllDayEvents</key>
					<true/>
					<key>hasEvent</key>
					<true/>
					<key>hasOneAlarmType</key>
					<false/>
					<key>hasTask</key>
					<true/>
					<key>hasTimeZone</key>
					<false/>
					<key>hasVCalRecurrence</key>
					<true/>
					<key>needsDeleteAddOnModify</key>
					<true/>
					<key>needsToFormatCountToUntilDate</key>
					<true/>
					<key>needsToFormatUntilDateToCount</key>
					<false/>
					<key>setAllDayTimeWithAlarmTime</key>
					<true/>
					<key>untilDateIsDateOnly</key>
					<true/>
				</dict>
			</dict>
		</array>
	</dict>
</dict>
</plist>
