<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Formatting</key>
	<dict>
		<key>com.apple.calendars.Event</key>
		<dict>
			<key>end date</key>
			<dict/>
			<key>location</key>
			<dict>
				<key>charsToStrip</key>
				<string>\</string>
				<key>maxLength</key>
				<integer>50</integer>
			</dict>
			<key>start date</key>
			<dict/>
			<key>summary</key>
			<dict>
				<key>charsToStrip</key>
				<string>\</string>
				<key>maxLength</key>
				<integer>160</integer>
			</dict>
		</dict>
		<key>com.apple.calendars.Task</key>
		<dict>
			<key>due date</key>
			<dict/>
			<key>priority</key>
			<dict>
				<key>mappings</key>
				<array>
					<dict>
						<key>mappedValue</key>
						<string>1</string>
						<key>originalValue</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>mappedValue</key>
						<string>1</string>
						<key>originalValue</key>
						<integer>2</integer>
					</dict>
					<dict>
						<key>mappedValue</key>
						<string>1</string>
						<key>originalValue</key>
						<integer>3</integer>
					</dict>
					<dict>
						<key>mappedValue</key>
						<string>2</string>
						<key>originalValue</key>
						<integer>5</integer>
					</dict>
					<dict>
						<key>mappedValue</key>
						<string>2</string>
						<key>originalValue</key>
						<integer>0</integer>
					</dict>
					<dict>
						<key>mappedValue</key>
						<string>2</string>
						<key>originalValue</key>
						<integer>4</integer>
					</dict>
					<dict>
						<key>mappedValue</key>
						<string>2</string>
						<key>originalValue</key>
						<integer>6</integer>
					</dict>
					<dict>
						<key>mappedValue</key>
						<string>3</string>
						<key>originalValue</key>
						<integer>9</integer>
					</dict>
					<dict>
						<key>mappedValue</key>
						<string>3</string>
						<key>originalValue</key>
						<integer>7</integer>
					</dict>
					<dict>
						<key>mappedValue</key>
						<string>3</string>
						<key>originalValue</key>
						<integer>8</integer>
					</dict>
				</array>
			</dict>
			<key>status</key>
			<dict>
				<key>mappings</key>
				<array>
					<dict>
						<key>mappedValue</key>
						<string>COMPLETED</string>
						<key>originalValue</key>
						<string>completed</string>
					</dict>
					<dict>
						<key>mappedValue</key>
						<string>NEEDS ACTION</string>
						<key>originalValue</key>
						<string>needsaction</string>
					</dict>
					<dict>
						<key>mappedValue</key>
						<string>NEEDS ACTION</string>
						<key>originalValue</key>
						<string>cancelled</string>
					</dict>
					<dict>
						<key>mappedValue</key>
						<string>NEEDS ACTION</string>
						<key>originalValue</key>
						<string>inprocess</string>
					</dict>
					<dict>
						<key>mappedValue</key>
						<string>NEEDS ACTION</string>
						<key>originalValue</key>
						<string>none</string>
					</dict>
				</array>
			</dict>
			<key>summary</key>
			<dict>
				<key>charsToStrip</key>
				<string>\</string>
				<key>maxLength</key>
				<integer>160</integer>
			</dict>
		</dict>
		<key>com.apple.contacts.Contact</key>
		<dict>
			<key>birthday</key>
			<dict/>
			<key>company name</key>
			<dict>
				<key>maxLength</key>
				<integer>50</integer>
			</dict>
			<key>first name</key>
			<dict>
				<key>maxLength</key>
				<integer>50</integer>
			</dict>
			<key>image</key>
			<dict>
				<key>imageMaxHeight</key>
				<real>32</real>
				<key>imageMaxWidth</key>
				<real>32</real>
				<key>imageThresholdSize</key>
				<real>5000</real>
			</dict>
			<key>job title</key>
			<dict>
				<key>maxLength</key>
				<integer>50</integer>
			</dict>
			<key>last name</key>
			<dict>
				<key>maxLength</key>
				<integer>50</integer>
			</dict>
			<key>nickname</key>
			<dict>
				<key>maxLength</key>
				<integer>50</integer>
			</dict>
			<key>notes</key>
			<dict>
				<key>maxLength</key>
				<integer>126</integer>
			</dict>
		</dict>
		<key>com.apple.contacts.Email Address</key>
		<dict>
			<key>type</key>
			<dict>
				<key>mappings</key>
				<array>
					<dict>
						<key>mappedValue</key>
						<string></string>
						<key>originalValue</key>
						<string>work</string>
					</dict>
					<dict>
						<key>mappedValue</key>
						<string></string>
						<key>originalValue</key>
						<string>home</string>
					</dict>
					<dict>
						<key>mappedValue</key>
						<string></string>
						<key>originalValue</key>
						<string>other</string>
					</dict>
				</array>
			</dict>
			<key>value</key>
			<dict>
				<key>charsToStrip</key>
				<string>\r\n</string>
				<key>maxLength</key>
				<integer>126</integer>
			</dict>
		</dict>
		<key>com.apple.contacts.Phone Number</key>
		<dict>
			<key>type</key>
			<dict>
				<key>mappings</key>
				<array>
					<dict>
						<key>mappedValue</key>
						<string>WORK</string>
						<key>originalValue</key>
						<string>work</string>
					</dict>
					<dict>
						<key>mappedValue</key>
						<string>HOME</string>
						<key>originalValue</key>
						<string>home</string>
					</dict>
					<dict>
						<key>mappedValue</key>
						<string>CELL</string>
						<key>originalValue</key>
						<string>mobile</string>
					</dict>
					<dict>
						<key>mappedValue</key>
						<string>FAX</string>
						<key>originalValue</key>
						<string>work fax</string>
					</dict>
					<dict>
						<key>mappedValue</key>
						<string>FAX</string>
						<key>originalValue</key>
						<string>home fax</string>
					</dict>
					<dict>
						<key>mappedValue</key>
						<string></string>
						<key>originalValue</key>
						<string>other</string>
					</dict>
					<dict>
						<key>mappedValue</key>
						<string></string>
						<key>originalValue</key>
						<string>main</string>
					</dict>
				</array>
				<key>relationshipConstraint</key>
				<string>global</string>
				<key>relationshipSize</key>
				<integer>5</integer>
			</dict>
			<key>value</key>
			<dict>
				<key>charsToKeep</key>
				<string>0123456789+#*pw</string>
				<key>maxLength</key>
				<integer>50</integer>
			</dict>
		</dict>
		<key>com.apple.contacts.Street Address</key>
		<dict>
			<key>city</key>
			<dict>
				<key>maxLength</key>
				<integer>50</integer>
			</dict>
			<key>country</key>
			<dict>
				<key>maxLength</key>
				<integer>20</integer>
			</dict>
			<key>postal code</key>
			<dict>
				<key>maxLength</key>
				<integer>50</integer>
			</dict>
			<key>state</key>
			<dict>
				<key>maxLength</key>
				<integer>50</integer>
			</dict>
			<key>street</key>
			<dict>
				<key>maxLength</key>
				<integer>50</integer>
			</dict>
			<key>type</key>
			<dict>
				<key>mappings</key>
				<array>
					<dict>
						<key>mappedValue</key>
						<string></string>
						<key>originalValue</key>
						<string>work</string>
					</dict>
					<dict>
						<key>mappedValue</key>
						<string></string>
						<key>originalValue</key>
						<string>home</string>
					</dict>
					<dict>
						<key>mappedValue</key>
						<string></string>
						<key>originalValue</key>
						<string>other</string>
					</dict>
				</array>
				<key>relationshipConstraint</key>
				<string>global</string>
				<key>relationshipSize</key>
				<integer>1</integer>
			</dict>
		</dict>
		<key>com.apple.contacts.URL</key>
		<dict>
			<key>type</key>
			<dict>
				<key>mappings</key>
				<array>
					<dict>
						<key>mappedValue</key>
						<string></string>
						<key>originalValue</key>
						<string>work</string>
					</dict>
					<dict>
						<key>mappedValue</key>
						<string></string>
						<key>originalValue</key>
						<string>home page</string>
					</dict>
					<dict>
						<key>mappedValue</key>
						<string></string>
						<key>originalValue</key>
						<string>home</string>
					</dict>
					<dict>
						<key>mappedValue</key>
						<string></string>
						<key>originalValue</key>
						<string>other</string>
					</dict>
				</array>
			</dict>
			<key>value</key>
			<dict>
				<key>maxLength</key>
				<integer>126</integer>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
